<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-asset-crypt" version="0.0.1"
        xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
    <name>AssetCrypt</name>
    <description>Encrypted assets filesystem</description>

    <platform name="ios">
        <config-file target="config.xml" parent="/*">
            <feature name="AssetCrypt">
                <param name="ios-package" value="AssetCrypt"/>
                <param name="onload" value="true"/>
            </feature>
        </config-file>

        <header-file src="src/ios/AssetCrypt.h" />
        <source-file src="src/ios/AssetCrypt.m" />
        <header-file src="src/ios/FBEncryptorAES.h" />
        <source-file src="src/ios/FBEncryptorAES.m" />
        <header-file src="src/ios/CryptProtocol.h" />
        <source-file src="src/ios/CryptProtocol.m" />
        <resource-file src="src/ios/cdata.bundle" />
    </platform>

    <platform name="android">
        <config-file parent="/*" target="res/xml/config.xml">
            <feature name="AssetCrypt">
                <param name="android-package" value="org.appverse.cordova.plugins.assetcrypt.AssetCrypt" />
                <param name="onload" value="true" />
            </feature>
            <access origin="crypt://*" />
        </config-file>
        <config-file parent="/*" target="AndroidManifest.xml"></config-file>
        <source-file src="src/android/AssetCrypt.java"
                     target-dir="src/org/appverse/cordova/plugins/assetcrypt" />
    </platform>

    <hook type="after_prepare" src="hooks/after_prepare.js" />

</plugin>
